@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");

:root {
  --cor1: #f2f2f2;
  --cor2: #f9f9f9;
  --cor3: #363b59;
  --cor4: #30bfb1;
  --cor5: #36d96f;
  --cor6: #30bf6e;

  --fonte-padrao: "Poppins", Arial, Verdana, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  min-width: 200px;
  max-width: 2000px;
}
